:root {
    --cor-fundo: #121212;      /* Fundo escuro para destacar cores vivas */
    --cor-principal: #2d2d2d;  /* Cinza escuro para o container */
    --cor-secundaria: #FF5722; /* Laranja vibrante para botões */
    --cor-destaque: #FFEB3B;   /* Amarelo brilhante para destaques */
    --cor-texto: #ffffff;      /* Texto branco para contraste */
    --cor-extra: #E91E63;      /* Rosa neon para elementos adicionais */
    --cor-detalhe: #00BCD4;    /* Azul turquesa para detalhes */
    
    --borda-radius: 10px;
    --espacamento: 1.8rem;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.caixa-principal {
    background-color: var(--cor-princip
